/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LAYOUT */

/* header */

header {
    background-color: #2c3f4f;
    line-height: 80px;
}

div.header-title {
    color: white;
    line-height: 80px;
    font-size: 2rem;
}

div.header-menu > ul {
    list-style: none;
}

div.header-menu > ul > li {
    display: inline-block;
    padding-right: 1rem;
}

div.header-menu > ul > li > a {
    text-decoration: none;
    color: white;
}

/* banner */
section.banner-container {
    background-color: #1cbc9b;
    text-align: center;
    padding-bottom: 2rem;
}

img.image-bnr {
    width: 15%;
}

div.text-after-image-banner {
    color: white;
}

/* portfolio */

div.portfolio-img {
    height: 300px;
    margin-top: 10px;
}

div.title-portfolio {
    text-align: center;
}

div.title-portfolio > span {
    color: #2c3f4f;
}

div.portfolio-img {
    contain: content;
}

img.img-portfolio-ct {
    width: 100%;
}

/* about */

section.about {
    background-color: #1cbc9b;
}

div.title-about {
    text-align: center;
}

div.about-text.left {
    padding-left: 180px;
}

div.about-text.right {
    padding-right: 180px;
}

div.download-btn-sect {
    height: 100px;
    background-color: deepskyblue;
}

/* contact me */

section.contact-me {
    height: 600px;
    background-color: cadetblue;
}

/* footer up and down */

section.footer.up {
    /* height: 200px; */
    background-color: #3b546d;
}

section.footer.down {
    height: 80px;
    background-color: #2c3f4f;
}

div.location {
    background-color: indianred;
}

div.link-social-page {
    background-color: indianred;
}

div.info-freelancer {
    background-color: indianred;
}
