/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LAYOUT */

/* header */

header {
    background-color: #2c3f4f;
    line-height: 80px;
}

div.header-title {
    color: white;
    line-height: 80px;
    font-size: 2rem;
}

div.header-menu > ul {
    list-style: none;
}

div.header-menu > ul > li {
    display: inline-block;
    padding-right: 1rem;
}

div.header-menu > ul > li > a {
    text-decoration: none;
    color: white;
}

/* banner */
section.banner-container {
    background-color: #1cbc9b;
    text-align: center;
    padding-bottom: 2rem;
}

img.image-bnr {
    width: 15%;
}

div.text-after-image-banner {
    color: white;
}

/* portfolio */

div.portfolio-img {
    height: 300px;
    margin-top: 10px;
}

div.title-portfolio {
    text-align: center;
}

div.title-portfolio > span {
    color: #2c3f4f;
}

div.portfolio-img {
    contain: content;
    margin-top: 2rem;
}

img.img-portfolio-ct {
    width: 100%;
}

/* about */

section.about {
    margin-top: 6rem;
    background-color: #1cbc9b;
}

div.title-about,
div.download-btn-sect {
    text-align: center;
}

/* contact me */


div.info-data {
    margin-right: 7rem;
    margin-left: 7rem;
}

button.bg-c {
    background-color: #1cbc9b;
    border: none;
    margin: .4rem 0 4rem;
}


/* footer up and down */

section.footer.up {
    background-color: #3b546d;
}

section.footer.down {
    background-color: #2c3f4f;
}

div.location > span {
    display: block;
}

div.location,
div.link-social-page,
div.info-freelancer {
    text-align: center;
    color: white;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

div.link-social-page > h5 {
    padding-bottom: 1rem;
}

span.link-social-icon {
    border: 1px solid white;
    padding: 8px;
    border-radius: 50px;
    margin-right: .5rem;
}

a.btn-start-bs {
    text-decoration: none;
    color: #1cbc9b;
}

a.btn-start-bs:hover {
    color: #1cbc9b;
    text-decoration: underline;
}

div.text-copyright {
    color: white;
    font-size: .8rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* star box */

div.contact-me-title {
    text-align: center;
    margin-top: 5rem;
}

div.star-box {
    display: flex;
    align-items: center;
    margin-left: 31rem;
}

i.fas.fa-star {
    margin-right: 1rem;
    margin-left: 1rem;
}

div.line-star {
    background-color: black;
    height: .2rem;
    width: 8rem;
    border-radius: 10px;

}

div.line-star.banner {
    background-color: white;
}

/* /star box */